<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	<typeAliases>
		<!-- Login -->
		<typeAlias alias="LoginObject" type="com.nastyway.weekend.login.model.Login" />
		<!-- Board -->
		<typeAlias alias="BoardObject" type="com.nastyway.weekend.board.model.Board" />
		<typeAlias alias="BoardItemObject" type="com.nastyway.weekend.board.model.BoardItem" />
		<typeAlias alias="FileMappingObject" type="com.nastyway.weekend.fileupload.model.FileMapping" />
		<typeAlias alias="SearchBoardCondition" type="com.nastyway.weekend.board.model.SearchBoardCondition" />
		
		<!-- User -->
		<typeAlias alias="UserObject" type="com.nastyway.weekend.user.model.User"/>
		
	</typeAliases>

</configuration>